<a href="https://colab.research.google.com/github/Shrey371/ABC/blob/main/Stage_A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import random
import pandas as pd

In [5]:
url = 'https://raw.githubusercontent.com/Shrey371/ABC/main/FoodBalanceSheets_E_Africa_NOFLAG.csv'
df = pd.read_csv(url, encoding = "ISO-8859-1")
# Dataset is now stored in a Pandas Dataframe

In [6]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [7]:
df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [9]:
df.Area.nunique(dropna = True)

49

In [11]:
df.shape

(60943, 12)

In [14]:
df["Y2015"].mean()

135.23596649549626

In [17]:
df["Y2015"].std()

1603.4039839425013

In [54]:
c = df.groupby(['Y2015', 'Y2018'])['Item'].sum()
#c.loc[c['Item'] == 'Wine']
c

Y2015      Y2018
-3161.0    -296.0       Cereals - Excluding Beer
-2152.0    -597.0             Maize and products
-1284.0     1898.0      Cereals - Excluding Beer
-907.0     -529.0       Cereals - Excluding Beer
-887.0      163.0           Sorghum and products
                                  ...
 92443.0    98424.0                   Population
 100835.0   109224.0                  Population
 110798.0   117038.0               Starchy Roots
 111663.0   118172.0               Starchy Roots
 181137.0   195875.0                  Population
Name: Item, Length: 14814, dtype: object

In [32]:
df.groupby(['Y2017', 'Area'])

In [35]:
y = [(2, 4), (7, 8), (1, 5, 9)]
y[1][1]

8

In [36]:
array  = ([[94, 89, 63],

             [93, 92, 48],

             [92, 94, 56]])

In [40]:
df.corr()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

In [55]:
df['Y2014'].isna().sum()

1589

In [64]:
df3 = df.groupby('Element')
df3.get_group('Processing')

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
19,4,Algeria,2905,Cereals - Excluding Beer,5131,Processing,1000 tonnes,35.0,38.0,37.0,33.0,44.0
35,4,Algeria,2511,Wheat and products,5131,Processing,1000 tonnes,0.0,0.0,0.0,0.0,0.0
51,4,Algeria,2805,Rice and products,5131,Processing,1000 tonnes,0.0,0.0,0.0,0.0,0.0
66,4,Algeria,2513,Barley and products,5131,Processing,1000 tonnes,35.0,38.0,37.0,33.0,44.0
81,4,Algeria,2514,Maize and products,5131,Processing,1000 tonnes,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
60694,181,Zimbabwe,2946,Animal fats,5131,Processing,1000 tonnes,0.0,0.0,0.0,0.0,0.0
60717,181,Zimbabwe,2743,Cream,5131,Processing,1000 tonnes,0.0,0.0,0.0,0.0,0.0
60730,181,Zimbabwe,2737,"Fats, Animals, Raw",5131,Processing,1000 tonnes,0.0,0.0,0.0,0.0,0.0
60789,181,Zimbabwe,2948,Milk - Excluding Butter,5131,Processing,1000 tonnes,59.0,59.0,58.0,56.0,57.0
60803,181,Zimbabwe,2848,Milk - Excluding Butter,5131,Processing,1000 tonnes,59.0,59.0,58.0,56.0,57.0

In [65]:
df.groupby('Element').mean().add_prefix('mean_')

,mean_Area Code,mean_Item Code,mean_Element Code,mean_Y2014,mean_Y2015,mean_Y2016,mean_Y2017,mean_Y2018
Element,,,,,,,,
Domestic supply quantity,133.898584,2681.292729,5301.0,380.762080,385.413451,389.493848,397.146843,411.185712
Export Quantity,136.250284,2689.201226,5911.0,40.989246,42.552503,41.587862,49.819344,49.806583
Fat supply quantity (g/capita/day),134.391798,2694.604818,684.0,2.059529,2.057849,2.028669,2.058177,2.057086
Feed,133.640637,2682.719484,5521.0,178.394646,191.206644,188.443333,184.423479,190.603820
Food,134.243068,2688.734062,5142.0,247.616930,251.450949,253.976002,256.288331,265.385972
Food supply (kcal/capita/day),134.434982,2694.666933,664.0,91.824742,91.500101,91.035664,91.577241,91.620246
Food supply quantity (kg/capita/yr),134.239755,2688.155148,645.0,10.216179,10.142884,10.050324,9.985652,10.058817
Import Quantity,133.912045,2684.562366,5611.0,55.731750,54.371505,58.390949,59.760416,58.240059
Losses,136.561971,2700.250373,5123.0,76.268293,77.371329,78.540070,79.947237,81.624502
Other uses (non-food),136.001155,2730.801963,5154.0,47.363496,39.744697,42.572632,56.606529,55.166749
Processing,135.293532,2661.898507,5131.0,142.387016,144.325313,140.596693,146.564565,153.983525
Production,135.725586,2692.618655,5511.0,504.252676,508.625755,506.393213,530.179391,539.540533
Protein supply quantity (g/capita/day),134.391798,2694.604818,674.0,2.384941,2.380597,2.366350,2.378002,2.373357
Residuals,133.892803,2668.332760,5170.0,6.548436,6.524430,8.074620,7.687311,7.552860
Seed,135.875328,2671.828084,5527.0,28.770236,31.590013,30.815810,32.810211,33.328681
Stock Variation,135.058129,2677.109405,5072.0,13.888849,8.255141,7.832692,12.837842,4.879751
Total Population - Both sexes,133.777778,2501.000000,511.0,22924.111111,23512.911111,24113.488889,24725.355556,25346.777778
Tourist consumption,90.645045,2678.428829,5171.0,0.749550,0.628829,0.160360,0.163964,0.162162